<div class="contain" >
  <div class="logo">
    <img src="../../assets/myImages/logo.png" height=100% width=100% class="rounded-circle" >
  </div>
  <br>
  <div class="row " >
    <h1 class="mx-auto" style="color:var(--mylightblue)">
      <span class="title1"><i class="fa fa-lock"></i> CrayakCentral</span> Login
    </h1>
    <div class="col-12" style="color: var(--mylightblue);">
      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">

        <div class="row" *ngIf="authError">
          <div class="col-6 alert alert-danger">{{ authError?.message }}</div>
        </div>

        <div class="row justify-content-center">
          <div class="col-6">
            <label for="email">Email</label>
            <input ngModel #email="ngModel" name="email" type="email" class="form-control rounded">
          </div>
        </div>
        <br>
        <div class="row justify-content-center">
          <div class="col-6">
            <label for="password">Password</label>
            <input ngModel #password="ngModel" name="password" type="password" class="form-control">
          </div>
        </div>

        <div class="row mt-2">
          <div class="col-12" align="center">
            <a href="/register" style="color: rgb(176,219,211);">Click here to register</a>
          </div>

          <div class="col-12 "  align="center">
            <button class="btn" type="submit">Login</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>