.title1{
    color:  rgb(0,255,0);
}

.logo{
    height: width;
    width: 20%;
    margin-left: 40%;
    border-radius: 50%;
    border: thin black solid;
}

.btn{
    background-color: rgb(0,255,0);
    box-shadow: 1px 1px 3px var(--greena);
}

.btn:hover{
    background-color: var(--greenh);  
}

.btn:active{
    background-color: var(--greena);
    box-shadow: none;  
}

.contain{
    background-color: rgb(0,0,139);
    border-radius: 5px;
    padding: 10%;
    width: 100vw;
    min-height: 100vh;
}

