.desktop{
    background-color: var(--mygrey);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
  }
  
  .menu{
    background-color: var(--mygreen);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    color: var(--mygreen);
    border-radius: 5px;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: solid thin var(--grey);
    overflow-y: auto;
    transition: width 0.2s ease;
    //box-shadow: -10px -10px 20px var(--green) inset;
  }
  
  .hamburger_icon{
    //background-color: rgb(38, 70, 63);
    padding: 5px;
    width: 100%;
    font-size: 150%;
    display: flex;
    color: var(--myblue);
    //justify-content: space-between;
  }
  
  .container{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  .greeting{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--myblue);
    //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
    padding: 2%;
    height:fit-content;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  
.user{
    font-size: 100%;
    text-align: center;
    padding-right: 5%;
  }

  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--myblue);
  }
  .row{
    border: var(--mygrey) solid thin;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
    color: var(--mygrey);
  }

  .r1{
      color: black;
      cursor: pointer;
  }
  
.ff{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.content{
    justify-content: space-around;
}

.nav{
    width: 100vw;
    height: 60px;
    background-color: var(--myblue);
    color: var(--mygreen);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    //margin-top: 0px;
  }
  
  .navleft{
    display: flex;
  }


  .hamburger{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .r2{
  border-top: var(--mylightblue) solid thin;
  border-bottom: var(--mylightblue) solid thin;
  justify-content: space-evenly;
  display: flex;
  cursor: pointer;
  color: var(--myblue)
  }
  
  .r2:hover{
  background-color: var(--mylightblue);
  }
  
  .hh1{
    font-size: 30px;
    margin-left: 70px;
    padding: 5px;
    margin-top: 5px;
  }
  
  .hh2{
      font-size: 30px; 
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      padding:20px;
      text-align: right ;
      color: var(--myblue);
      display: inline-block;
     
  }
  .inside{
    
    background:gray;
    
  }


  .hh5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
    margin-top: 20px;
    align-content: center;
    background-color: var(--myblue);
    color: var(--mygreen);
    height:fit-content;width: 100%;
    
    }
    
    .navright{
    display: flex;
    margin-right:10px;
    //padding: 10px;
    font-size: 20px;
    align-content: center;
    justify-content: space-evenly;
    }
    
  
  .icon{
    align-self: center;
    margin: 10px;
    color: var(--mygreen);
  }
  
  .icon:hover{
    color: var(--mylightblue);
  }
  
  .logo{
      margin-top: 10px;
  }
  

.img3{
    height: 40px;
    border-radius: 50%;;
}

.mainpage{
    justify-content: space-evenly;
    display: flex;
    margin-top: 60px;
}

.pagecontent{
    //border: solid white;
    //margin-top: 200px;
    //border: black solid;
    width: 80%;
    align-self: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
}

.r1{
    display: flex;
    justify-content: space-between;
}
.img1{
    width: 80vw;
    height: 10%;
}

.itemdata{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.h2{
    align-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    color: var(--myblue);
}

.itemimage{
}


.information{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
    justify-content: space-evenly;
    max-width: 500px;
}


.img2{
    width:500px;
    height: 500px;
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: var(--mygreen);
    border-radius: 5px;
    margin: 5px;
}

.info{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
    margin: 10px 10px;
}
.rating{
    margin: 5px;
    padding: 2px;
    display: flex;
    justify-content: space-between;
}
.userrating{
    margin: 5px;
    padding: 2px;
    display: flex;
}
.giverating{
    display: flex;
    flex-direction: column;
    background-color: rgb(241, 238, 238);
}

.feedback{
    margin: 10px;
    padding: 10px;
}

.entercomment{
    width: 100%;
    padding: 10px;
}

.button{
    background-color: var(--myblue);
    padding: 10px;
    color: white;
    width: fit-content;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    cursor: pointer;
}

.button1{
    background-color: var(--myblue);
    padding: 5px;
    align-self: center;
    color: white;
    width: fit-content;
    box-shadow: 2px 2px 5px black;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 10px;
}

.button1:hover{
    box-shadow: none;
}
.button:hover{
    box-shadow: none;
}

.comments{
    background-color: var(--mylightblue);
    border-radius: 5px;
    margin: 10px;
    padding:5px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.username{
    font-weight: bold;
}

.shoppingcart{
    font-size: large;
}

.hh4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.row1{
}

.rating-list li {
    float: right;
    color: #ddd;
    padding: 10px 5px;
  
  }
  
  .rating-list li:hover,
  .rating-list li:hover ~ li, .rating-list li.selected {
    color: #ffd700;
  }
  
  .rating-list {
    display: inline-block;
    list-style: none;
  }

  .r1{
      display: flex;
  }

  .link{
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      cursor: pointer;
  }

  .link:hover{
      background-color: rgb(211, 211, 211);
  }

  .price{
      color: var(--myblue);
      align-self: center;
      padding: 5px;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

  .b2{
      background-color: var(--mylightblue);
  }

  .icon{
      align-self: center;
      cursor: pointer;
  }

  .icon:hover{
    color: black;
}

.checkout{
    margin: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.sum{
    background-color: var(--mylightblue);
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 5px;
}

.enteradd{
    width:100%;
    height: 200%;
    padding:10px;
}
.search{
    width: 100%;
  }
  
  .searchit{
    display: flex;
  }
  
  .button{
    align-self: center;
    cursor: pointer;
  }
.b1{
    display: flex;
    align-self: center;
    margin:10px;
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.add{
    cursor: pointer;
    color: var(--myblue);
    
}

.nav{
  width: 100vw;
  height: fit-content;
  background-color: var(--myblue);
  color: var(--mygreen);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  z-index: 999;
  //margin-top: 0px;
}

.hamburger_icon{
  //background-color: rgb(38, 70, 63);
  padding: 5px;
  width: 100%;
  font-size: 150%;
  display: flex;
  color: var(--myblue);
  //justify-content: space-between;
}


@media(max-width: 700px) {
  .mainpage{
    margin-top: 30vh;
  }

  .navright{
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .menu{
    width: fit-content;
  }
  .tag{
    display: none;
  }


}