.desktop{
  background-color: var(--mygrey);
  min-height: 200vh;
  display: flex;
  flex-direction: column;
}

.menu{
  background-color: var(--mygreen);
  width: 20vw;
  min-height: 100vh;
  display: flex;
  color: var(--mygreen);
  border-radius: 5px;
  flex-direction: column;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  border-right: solid thin var(--grey);
  overflow-y: auto;
  transition: width 0.2s ease;
  //box-shadow: -10px -10px 20px var(--green) inset;
}
.hamburger_icon{
  //background-color: rgb(38, 70, 63);
  padding: 5px;
  width: 100%;
  font-size: 150%;
  display: flex;
  color: var(--mygreen);
  //justify-content: space-between;
}

.greeting{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-radius: 5px;
  margin-top: 10px;
  background-color: var(--myblue);
  //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
  padding: 2%;
  height:fit-content;
  width: 100%;
  align-content: center;
  justify-content: space-around;
  display: flex;
  flex-direction: column;
}

  
.user{
  font-size: 100%;
  text-align: center;
  padding-right: 5%;
}

.items{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--myblue);
}

.row{
  border: var(--mygrey) solid thin;
  border-left: none;
  border-right: none;
  display: flex;
  justify-content: center;
  margin: 5px 0;
  padding: 5px;
  font-size: 100%;
  color: var(--mygrey);
}

.ff{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.content{
    justify-content: space-around;
}

.nav{
  width: 100vw;
  height: 60px;
  background-color: var(--myblue);
  color: var(--mygreen);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 999;
  //margin-top: 0px;
}

.navleft{
  display: flex;
}

.hamburger{
  margin-left: 20px;
  font-size: 20px;
  margin-top: 20px;
}

.r2{
  border-top: var(--mylightblue) solid thin;
  border-bottom: var(--mylightblue) solid thin;
  justify-content: space-evenly;
  display: flex;
  cursor: pointer;
  color: var(--myblue)
}

.r2:hover{
  background-color: var(--mylightblue);
}

.hh1{
    font-size: 30px;
    margin-left: 70px;
    padding: 5px;
    margin-top: 5px;
}

.hh5{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  margin-top: 20px;
  
  align-content: center;
  background-color: var(--myblue);
  color: var(--mygreen);
  height:fit-content;width: 100%;
    

}

.navright{
  display: flex;
  margin-right:10px;
  //padding: 10px;
  font-size: 20px;
  align-content: center;
  justify-content: space-evenly;
}

.icon{
  align-self: center;
  margin: 10px;
  color: var(--mygreen);
}

.icon:hover{
  color: var(--mylightblue);
}

.logo{
    margin-top: 10px;
}


.img3{
  height: 40px;
  border-radius: 50%;;
}

.mainpage{
    justify-content: space-evenly;
    display: flex;
    margin-top: 100px;
}

.pagecontent{
    //border: solid white;
    //margin-top: 200px;
    //border: black solid;
    width: 80%;
    align-self: center;

}

::ng-deep {
    .carousel-item {
      transition: opacity 1.2s ease !important;;
      display: block !important;
      opacity: 0;
      box-shadow: 10px 10px 10px black;
      margin-top: 15px;
      //margin-bottom: 10%;
      //max-height: 200px;
      height: 100%;
      position: relative;
    }

  
    .carousel-item.active {
      opacity: 1;
    }
  }

  .fade {
    -webkit-animation-name: fade;
   // -webkit-animation-duration: 1.5s;
    animation-name: fade;
    //animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }

.slider{
    //margin-top: 100px;
}

.mySlides{
    width: 400%;
}

.img1{
    width: 80vw;
    height: 10%;
}

.categorycont{
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.h2{
    align-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    color: var(--myblue);
}

.categories{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.category{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 3px 3px 2px rgb(155, 155, 155);
    cursor: pointer;
}

.category:hover{
    box-shadow: none;
}

.img2{
    width:200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.search{
  width: 100%;
}

.searchit{
  display: flex;
}

.button{
  align-self: center;
  cursor: pointer;
}

.name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: var(--mygreen);
    border-radius: 5px;
    margin: 5px;
}

.nav{
  width: 100vw;
  height: fit-content;
  background-color: var(--myblue);
  color: var(--mygreen);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  z-index: 999;
  //margin-top: 0px;
}

.hamburger_icon{
  //background-color: rgb(38, 70, 63);
  padding: 5px;
  width: 100%;
  font-size: 150%;
  display: flex;
  color: var(--myblue);
  //justify-content: space-between;
}


@media(max-width: 700px) {
  .mainpage{
    margin-top: 30vh;
  }

  .navright{
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .menu{
    width: fit-content;
  }
  .tag{
    display: none;
  }


}
