<div class="contain">
  <div class="logo">
    <img src="../../assets/myImages/logo.png" height=100% width=100% class="rounded-circle"> 
  </div>
  <div class="row mt-4">
    <h1 class="mx-auto" style="color:var(--mygreen);"> 
      <span class="title1"><i class="fa fa-address-card"></i> CrayakCentral</span> Registration
    </h1>

    <div class="col-12 " style="color:var(--mygreen);">
      <div class="row" *ngIf="authError">
        <div class="col-12 alert alert-danger">
          {{ authError?.message }}
        </div>
      </div>
      <form #userRegForm="ngForm" (ngSubmit)="valid(userRegForm)" id="authf">
        <div class="row justify-content-center" >
          <div class="col-md-6 mb-2">
            <label for="firstName">First name</label>
            <input ngModel #firstname="ngModel" name="firstName" type="text" class="form-control" id="firstName" required>
          </div>
        </div>
        <div class="row justify-content-center">
        <div class="col-md-6 mb-2">
          <label for="lastName">Last name</label>
          <input ngModel #lastname="ngModel" name="lastName" type="text" class="form-control" id="lastName" value="" required>
        </div>
      </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <label for="phnum">Phone Number</label>
            <input ngModel #phnum="ngModel" name="phnum" type="text" class="form-control" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <label for="email">Email</label>
            <input ngModel #email="ngModel" name="email" type="email" class="form-control" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <label for="address">Address</label>
            <input ngModel #address="ngModel" name="address" type="text" class="form-control" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <label for="city">City</label>
            <input ngModel #city="ngModel" name="city" type="text" class="form-control" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <label for="state">State</label>
            <input ngModel #state="ngModel" name="state" type="text" class="form-control" required>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6 mb-2">
            <label for="pincode">Pin Code</label>
            <input ngModel #pincode="ngModel" name="pincode" type="text" class="form-control" required>
          </div>
        </div>
        <div>
          <div class="row justify-content-center">
            <div class="col-md-6 mb-2">
              <label for="password">Password</label>
              <input ngModel #password="ngModel" id="password" name="password" type="password" class="form-control"
                required>
            </div>
          </div>
          <div class="row mt-2 justify-content-center">
            <div class="col-12" align="center">
              <a href="/login" style="color:var(--mygreen);">Click here to login</a>
            </div>

            <div class="col-md-12" align="center">
              <button class="btn" type="submit" style="color:var(--myblue);">Submit</button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>