.title1{
    color: var(--mygreen);
}

.contain{
    background-color: var(--grey);
    border-radius: 5px;
    padding: 10%;
    width: 100vw;
    min-height: 100vh;
}

h1 {
    text-align:center;
}

.logo{
    height: width;
    width: 20%;
    margin-left: 40%;
    border-radius: 50%;
    border: thin black solid;
}

.btn{
    background-color: var(--mygreen);
    box-shadow: 1px 1px 3px var(--mylightblue);
}

.btn:hover{
    background-color: var(--grey);  
}

.btn:active{
    background-color: var(--grey);
    box-shadow: none;  
}

.contain{
    background-color:var(--myblue) ;
  }

