<div class="desktop">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="overflow-y: hidden; position: fixed;" class="menu">
            <div class="hamburger_icon" style="display: flex; justify-content: flex-end;" (click)="sidenav.toggle();">
                <i class="fa fa-bars"></i>
            </div>
            <div class="greeting" (swipeleft)="sidenav.toggle();">
                <div class="user">Hello, <br> {{ user?.email }} </div>
            </div>
            <div class="items" (swipeleft)="sidenav.toggle();">
                <a class="row r2" routerLink="/home"><i class="fa fa-home menuicon col-4"></i>
                    <div class="ff col-8">Home &#8594;</div>
                </a>
                <a class="row r2" routerLink="/cart"><i class="fa fa-shopping-cart col-4" aria-hidden="true"></i>
                    <div class="ff col-8">Cart &#8594;</div>
                </a>
                <a routerLink="/profile" class="row r2"><i class="fa fa-user menuicon col-4"></i>
                    <div class="ff col-8">My Profile &#8594;</div>
                </a>
                <a routerLink="/orders" class="row r2"><i class="fa fa-shopping-bag col-4" aria-hidden="true"></i>
                    <div class="ff col-8">My Orders &#8594;</div>
                </a>
                <a routerLink="/sub" class="row r2"><i class="fa fa-heart col-4" aria-hidden="true"></i>
                    <div class="ff col-8">My Subscriptions &#8594;</div>
                </a>
                <a routerLink="/not" class="row r2"><i class="fa fa-bell col-4" aria-hidden="true"></i>
                    <div class="ff col-8">My Notifications &#8594;</div>
                </a>
                <div class="row r2" (click)="logout()"><i class="fa fa-sign-in menuicon col-4"></i>
                    <div class="ff col-8">Log Out &#8594;</div>
                </div>
                <div class="hh5" align="center">
                    Shop by Category
                </div>
                <div class="row r2" *ngFor="let order of ogcat" (click)="currcat(order.payload.doc.id)">
                    <div class="ff">{{order.payload.doc.data().Name}} &#8594;</div>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <div class="nav">
                <div class="navleft">
                    <div class="hamburger" (click)="sidenav.toggle()" style="position: fixed;">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="hh1">
                        <img src="./assets/myImages/logo.png" class="img3">
                        Crayak Central
                    </div>
                </div>
                <div class="navright">
                    <a class = "icon" routerLink="/home"><i class="fa fa-home menuicon"></i><div class = "tag">Home</div></a>
                    <a class = "icon" routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><div class = "tag">Cart</div></a>
                    <a class = "icon" routerLink="/profile"><i class="fa fa-user menuicon"></i><div class = "tag">Profile</div></a>
                    <a class = "icon" routerLink="/orders"><i class="fa fa-shopping-bag" aria-hidden="true"></i><div class = "tag">My Orders</div></a>
                    <div class = "icon" (click) = "logout()"><i class="fa fa-sign-in menuicon"></i><div class = "tag">Logout</div></div>
                </div>
            </div>
            <div class="mainpage" (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()">
                <div class="pagecontent" align="center">
                      
                    <div class="ff f1 mt-3 col-12" style=" color:var(--myblue); background-color: var(--mygreen);" 
                    align="center">CrayakCentral</div>
                    <div align="center" >
                        <div class="ff f2 col-6">
                            We are an e-commerce website that aims to fullfill our customer's every need and provide them 
                            with the best quality products.
                            <u>Crayak means customer is Sanskrit</u>, and we truly believe that this website is the hub for all
                            types of customers with varying needs.
                        </div>
                    </div>
                    <div align="center">
                        <div class="ff f1 mt-3 col-12" style="color:var(--myblue); background-color: var(--mygreen);" 
                        align="center"> Contact Us </div>
                        <div align="center">
                            <div class="ff f2 col-6">
                                We are three computer engineering students who wish to create a change in the world
                                one step at a time. Feel free to get in touch: <br><br>
                                <tr class="mt-3">Vaishnavi Desai <h2 class="ff">Phone:9898989898<br>Gmail: vaishnavisdesai@gmail.com</h2></tr>
                                <tr>Isha Ghiria <h2 class="ff">Phone:9696668908<br>Gmail: ishankg99@gmail.com</h2></tr>
                                <tr>Jhanvi Desai <h2 class="ff">Phone:7194989392<br>Gmail: jhanvisdesai@gmail.com</h2></tr>
                                
                            </div>

                        </div>
                    </div>


                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>