<div class="desktop">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="overflow-y: hidden; position: fixed;" class="menu">
            <div class="hamburger_icon" style="display: flex; justify-content: flex-end;" (click)="sidenav.toggle();">
                <i class="fa fa-bars"></i>
            </div>
            <div class="greeting" (swipeleft)="sidenav.toggle();">
                <div class="user">Hello, <br> {{ user?.email }} </div>
            </div>
            <div class="items" (swipeleft)="sidenav.toggle();">
                <a class="row r2" routerLink="/home"><i class="fa fa-home menuicon col-4"></i>
                    <div class="ff col-8">Home &#8594;</div>
                </a>
                <a class="row r2" routerLink="/cart"><i class="fa fa-shopping-cart col-4" aria-hidden="true"></i>
                    <div class="ff col-8">Cart &#8594;</div>
                </a>
                <a routerLink="/profile" class="row r2"><i class="fa fa-user menuicon col-4"></i>
                    <div class="ff col-8">My Profile &#8594;</div>
                </a>
                <a routerLink="/orders" class="row r2"><i class="fa fa-shopping-bag col-4" aria-hidden="true"></i>
                    <div class="ff col-8">My Orders &#8594;</div>
                </a>
                <a routerLink="/sub" class="row r2"><i class="fa fa-heart col-4" aria-hidden="true"></i>
                    <div class="ff col-8">My Subscriptions &#8594;</div>
                </a>
                <a routerLink="/not" class="row r2"><i class="fa fa-bell col-4" aria-hidden="true"></i>
                    <div class="ff col-8">My Notifications &#8594;</div>
                </a>
                <div class="row r2" (click)="logout()"><i class="fa fa-sign-in menuicon col-4"></i>
                    <div class="ff col-8">Log Out &#8594;</div>
                </div>
                <div class="hh5" align="center">
                    Shop by Category
                </div>
                <div class="row r2" *ngFor="let order of ogcat" (click)="currcat(order.payload.doc.id)">
                    <div class="ff">{{order.payload.doc.data().Name}} &#8594;</div>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <div class="nav">
                <div class="navleft">
                    <div class="hamburger" (click)="sidenav.toggle()" style="position: fixed;">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="hh1">
                        <img src="./assets/myImages/logo.png" class="img3">
                        CrayakCentral
                    </div>
                </div>
                <div class="searchit">
                    <form [formGroup]="this.form1">
                        <div class="row justify-content-center">
                            <input placeholder="Search" formControlName="Search" type="text" class="search col-12">
                        </div>
                    </form>
                    <form [formGroup]="this.form1">
                        <div class="button b1" (click) = "search()"><i class="fa fa-search" aria-hidden="true"></i></div>
                    </form>
                </div>
                <div class="navright">
                    <a class="icon" routerLink="/home"><i class="fa fa-home menuicon"></i>
                        <div class="tag">Home</div>
                    </a>
                    <a class="icon" routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                        <div class="tag">Cart</div>
                    </a>
                    <a class="icon" routerLink="/profile"><i class="fa fa-user menuicon"></i>
                        <div class="tag">Profile</div>
                    </a>
                    <a class="icon" routerLink="/orders"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                        <div class="tag">My Orders</div>
                    </a>
                    <a class="icon" routerLink="/not"><i class="fa fa-bell" aria-hidden="true"></i>
                        <div class="tag">My Notifications</div>
                    </a>
                    
                    <div class="icon" (click)="logout()"><i class="fa fa-sign-in menuicon"></i>
                        <div class="tag">Logout</div>
                    </div>
                </div>
            </div>
            <div class="mainpage" (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()">
                <div class="pagecontent">
                    <div class="itemdata">
                        <div class="itemimage">
                            <img src="{{item.payload.data().Url}}" class="img2">
                        </div>
                        <div class="information">
                            <div class="name">
                                <div class="label">
                                    Product: {{item.payload.data().Name}}
                                </div>
                                <div class="label l1">
                                    By: {{item.payload.data().Seller}}
                                    <div class="sub" (click)="subscribe()"><u>Subscribe to seller?</u></div>
                                </div>
                                <div class="label">
                                    Price: Rs.{{item.payload.data().Price}}
                                </div>
                            </div>
                            <div class="info">
                                {{item.payload.data().Info}}
                            </div>
                            <div class="rating">

                                <div class="userrating">
                                    <div class="hh7">Average rating</div>
                                    <div class="stars">
                                        <div *ngIf="item.payload.data().CustomerFeedback == 0"><i class="fa fa-star-o"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i
                                                class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="item.payload.data().CustomerFeedback == 1"><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i
                                                class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="item.payload.data().CustomerFeedback == 2"><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="item.payload.data().CustomerFeedback == 3"><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star-o"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="item.payload.data().CustomerFeedback == 4"><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
                                        </div>
                                        <div *ngIf="item.payload.data().CustomerFeedback == 5"><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i><i
                                                class="fa fa-star" aria-hidden="true"></i><i class="fa fa-star"
                                                aria-hidden="true"></i><i class="fa fa-star" aria-hidden="true"></i>
                                        </div>
                                    </div>

                                </div>


                                <div class="shoppingcart" (click)="shop()">
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    <div class="hh4">Add to cart</div>
                                </div>

                                <div class="giverating" *ngIf="iscustom">
                                    <div class="hh7">Leave a rating</div>
                                    <div class="row1">
                                        <div class="col-sm-12">
                                            <ul class="list-inline rating-list" *ngFor="let star of stars"
                                                style="display: inline-block">
                                                <li (click)="countStar(star)"
                                                    [ngClass]="{'selected': (star <= selectedValue)}">
                                                    <i class="fa fa-star"></i>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="button1" (click)="onSubmitStar()">Submit</div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="feedback">
                        <h2 ml-5>Reviews:</h2>
                        <form [formGroup]="this.form" *ngIf="iscustom">

                            <div class="row">
                                <input placeholder="Leave a feedback" formControlName="Comments" type="text"
                                    class="entercomment">
                                <input type="radio" formControlName="options" value="Good" id="Good" class="nature">
                                <label class="nature" for="Good">Positive</label>
                                <input type="radio" formControlName="options" value="Neutral" id="Neutral"
                                    class="nature">
                                <label class="nature" for="Neutral">Neutral</label>
                                <input type="radio" formControlName="options" value="Bad" id="Bad" class="nature">
                                <label class="nature" for="Bad">Negative</label>
                                <div class="button" (click)="onSubmit()">
                                    Submit
                                </div>
                            </div>
                        </form>

                        <div class="out" *ngFor="let order of feedback">
                            <div class="comments c1" *ngIf="order.payload.doc.data().options == 'Neutral'">
                                <div class="username">
                                    {{order.payload.doc.data().Name}}
                                </div>
                                <div class="comment">
                                    {{order.payload.doc.data().Comments}}
                                </div>
                            </div>
                            <div class="comments c2" *ngIf="order.payload.doc.data().options == 'Good'">
                                <div class="username">
                                    {{order.payload.doc.data().Name}}
                                </div>
                                <div class="comment">
                                    {{order.payload.doc.data().Comments}}
                                </div>
                            </div>
                            <div class="comments c3" *ngIf="order.payload.doc.data().options == 'Bad'">
                                <div class="username">
                                    {{order.payload.doc.data().Name}}
                                </div>
                                <div class="comment">
                                    {{order.payload.doc.data().Comments}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>