<div class="desktop">
    <mat-sidenav-container class="example-container">
        <mat-sidenav #sidenav mode="over" [(opened)]="opened" style="overflow-y: hidden; position: fixed;" class="menu">
            <div class="hamburger_icon" style="display: flex; justify-content: flex-end;" (click)="sidenav.toggle();">
                <i class="fa fa-bars"></i>
            </div>
            <div class="greeting" (swipeleft)="sidenav.toggle();">
                <div class="user">Hello, <br> {{ user?.email }} </div>
            </div>
            <div class="items" (swipeleft)="sidenav.toggle();">
                <a class="row r2" routerLink="/home"><i class="fa fa-home menuicon"></i>
                    <div class="ff">Home &#8594;</div>
                </a>
                <a class="row r2" routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    <div class="ff">Cart &#8594;</div>
                </a>
                <a routerLink="/profile" class="row r2"><i class="fa fa-user menuicon"></i>
                    <div class="ff">My Profile &#8594;</div>
                </a>
                <a routerLink="/orders" class="row r2"><i class="fa fa-shopping-bag" aria-hidden="true"></i>
                    <div class="ff">My Orders &#8594;</div>
                </a>
                <div class="row r2" (click)="logout()"><i class="fa fa-sign-in menuicon"></i>
                    <div class="ff">Log Out &#8594;</div>
                </div>
                <div class="hh5" align="center">
                    Shop by Category
                </div>
                <div class="row r2" *ngFor="let order of ogcat" (click)="currcat(order.payload.doc.id)">
                    <div class="ff">{{order.payload.doc.data().Name}} &#8594;</div>
                </div>
            </div>
        </mat-sidenav>

        <mat-sidenav-content class="content">
            <div class="nav">
                <div class="navleft">
                    <div class="hamburger" (click)="sidenav.toggle()" style="position: fixed;">
                        <i class="fa fa-bars"></i>
                    </div>
                    <div class="hh1">
                        <img src="./assets/myImages/logo.png" class="img3">
                        Crayak Central
                    </div>
                </div>
                <div class="navright">
                    <a class = "icon" routerLink="/home"><i class="fa fa-home menuicon"></i><div class = "tag">Home</div></a>
                    <a class = "icon" routerLink="/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i><div class = "tag">Cart</div></a>
                    <a class = "icon" routerLink="/profile"><i class="fa fa-user menuicon"></i><div class = "tag">Profile</div></a>
                    <a class = "icon" routerLink="/orders"><i class="fa fa-shopping-bag" aria-hidden="true"></i><div class = "tag">My Orders</div></a>
                    <div class = "icon" (click) = "logout()"><i class="fa fa-sign-in menuicon"></i><div class = "tag">Logout</div></div>
                </div>
            </div>
            <div class="mainpage" (swipeleft)="sidenav.close()" (swiperight)="sidenav.open()">
                <div class="pagecontent">
                    <span *ngFor="let item of counts;let i = index">
                        <span class="circle-desc" [class.circle-desc-active]="orderStatus == item">{{ item }} HIIII</span>
                        <span class="circles" [class.active]="orderStatus == item"></span>
                        <span class="bar" *ngIf="(i != counts.length-1)"></span>
                      </span>
                </div>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

</div>