.desktop{
    background-color: var(--mygrey);
    min-height: 200vh;
    display: flex;
    flex-direction: column;
  }
  
  .menu{
    background-color: var(--mygreen);
    width: 20vw;
    min-height: 100vh;
    display: flex;
    color: var(--mygreen);
    border-radius: 5px;
    flex-direction: column;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    border-right: solid thin var(--grey);
    overflow-y: auto;
    transition: width 0.2s ease;
    //box-shadow: -10px -10px 20px var(--green) inset;
  }
  
  .hamburger_icon{
    //background-color: rgb(38, 70, 63);
    padding: 5px;
    width: 100%;
    font-size: 150%;
    display: flex;
    color: var(--myblue);
    //justify-content: space-between;
  }
  
  .greeting{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-radius: 5px;
    margin-top: 10px;
    background-color: var(--myblue);
    //background-color: linear-gradient(to bottom right, var(--lightgreen) , var(--grey));
    padding: 2%;
    height:fit-content;
    width: 100%;
    align-content: center;
    justify-content: space-around;
    display: flex;
    flex-direction: column;
  }
  
  
  .user{
    font-size: 100%;
    text-align: center;
    padding-right: 5%;
  }
  
  .items{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: var(--myblue);
  }
  
  .row{
    border: var(--mygrey) solid thin;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    margin: 5px 0;
    padding: 5px;
    font-size: 100%;
    color: var(--mygrey);
  }

  .r1{
      color: black;
      cursor: pointer;
  }
  
  .ff{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }
  
  .content{
    justify-content: space-around;
  }
  
  .nav{
    width: 100vw;
    height: 60px;
    background-color: var(--myblue);
    color: var(--mygreen);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 999;
    //margin-top: 0px;
  }
  
  .navleft{
    display: flex;
  }
  
  .hamburger{
    margin-left: 20px;
    font-size: 20px;
    margin-top: 20px;
  }
  
  .r2{
  border-top: var(--mylightblue) solid thin;
  border-bottom: var(--mylightblue) solid thin;
  justify-content: space-evenly;
  display: flex;
  cursor: pointer;
  color: var(--myblue)
  }
  
  .r2:hover{
  background-color: var(--mylightblue);
  }
  
  .hh1{
    font-size: 30px;
    margin-left: 70px;
    padding: 5px;
    margin-top: 5px;
  }
  
  .hh5{
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 5px;
  margin-top: 20px;
  
  align-content: center;
  background-color: var(--myblue);
  color: var(--mygreen);
  height:fit-content;width: 100%;
    
  
  }
  
  .navright{
  display: flex;
  margin-right:10px;
  //padding: 10px;
  font-size: 20px;
  align-content: center;
  justify-content: space-evenly;
  }
  
  .icon{
  align-self: center;
  margin: 10px;
  color: var(--mygreen);
  }
  
  .icon:hover{
  color: var(--mylightblue);
  }
  
  .logo{
    margin-top: 10px;
  }
  
  .img3{
    height: 40px;
    border-radius: 50%;;
  }
  
  .mainpage{
    justify-content: space-evenly;
    display: flex;
    margin-top: 60px;
  }
  
  .pagecontent{
    //border: solid white;
    //margin-top: 200px;
    //border: black solid;
    width: 80%;
    align-self: center;
    height: 100vh;
  
  }
  
  ::ng-deep {
    .carousel-item {
      transition: opacity 1.2s ease !important;;
      display: block !important;
      opacity: 0;
      box-shadow: 10px 10px 10px black;
      margin-top: 15px;
      //margin-bottom: 10%;
      //max-height: 200px;
      height: 100%;
      position: relative;
    }
  
  
    .carousel-item.active {
      opacity: 1;
    }
  }
  
  .fade {
    -webkit-animation-name: fade;
   // -webkit-animation-duration: 1.5s;
    animation-name: fade;
    //animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  .slider{
    //margin-top: 100px;
  }
  
  .mySlides{
    width: 400%;
  }
  
  .img1{
    width: 80vw;
    height: 10%;
  }
  
  .categorycont{
    display: flex;
    flex-direction: column;
    margin: 50px;
  }
  
  .h2{
    align-self: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 4vw;
    color: var(--myblue);
  }
  
  .categories{
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  
  .category{
    background-color: white;
    display: flex;
    flex-direction: column;
    margin:10px;
    padding: 10px;
    justify-content: space-evenly;
    box-shadow: 3px 3px 2px rgb(155, 155, 155);
    cursor: pointer;
  }
  
  .category:hover{
    box-shadow: none;
  }
  
  .img2{
    width:150px;
    height: 150px;
  }
  
  .name{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    text-align: center;
    padding: 5px;
    background-color: var(--mygreen);
    border-radius: 5px;
    margin: 5px;
  }
  
  body{
    font-size:1em;
     height: 100%;
  }
  
  h3 {
    font-family: Lato;
    text-align: center;
    color:	#0080ff;
  }
  
  .circles{
    height: 0.938em;
    width: 0.938em;
    border: 0.188em solid #000;
    border-radius: 50%;
    display: inline-block;
  }
  
  .active{
      background-color:#ffa500;
  }
  
  .circle-desc-active{
  font-weight: bold;
  }
  
  .bar{
    width: 16%;
    height: 0.063em;
    margin-bottom:0.469em;
    border: 0.031em solid #000;
    color:#000;
    background-color:#000;
    display: inline-block;
    text-align:center;
    margin:"0 auto";
  }
  
  .container{
    min-width:320px;
    margin: "0px auto";
    text-align: center;
  }
  
  .circle-desc{
   position: absolute;
   top:5.000em;
   font-size: 1.125em;
   width: auto;
   max-width:9.375em;
   margin-left:-0.750em;
  }

  .subcard{
      
    background-color: var(--myblue);
    box-shadow: 3px 3px 5px black;
    justify-content: center;
    color: var(--myblue);
    color: white;
    font-size: 120%;
    padding: 1%;
    min-height: 100vh;
    min-height: 450px;
    font-family: 'Baskerville';
    display:flex;
    flex-direction: column;
    text-align: center;
    font-weight: bold;
    width: 50%;
    align-self: center;
    margin-left: 25%;
    
}


.search{
  width: 100%;
}

.searchit{
  display: flex;
}

.button{
  align-self: center;
  cursor: pointer;
}

.mh1{
    font-size: 150%;
    font-family: 'Baskerville';
    margin-top: 10%;
    margin-top: -7%;
    background-color: var(--mylightblue);
    width: fit-content;
    padding: 2% 5%;
    border-radius: 5px;
    align-self: center;
    font-weight: bold;
    color: var(--myblue);
    color: white;
  }

.r{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    border-top: solid thin var(--grey);
    border-bottom: solid thin var(--grey);
    font-weight: bold;
    border-radius: 5px;
    background-color: var(--mygreen);
    color: var(--myblue);
    background-image: url('/../assets/images/marble.jfif');
    box-shadow: 3px 3px 5px black;
    border: black thin solid ;
}

.nav{
  width: 100vw;
  height: fit-content;
  background-color: var(--myblue);
  color: var(--mygreen);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  flex-wrap: wrap;
  z-index: 999;
  //margin-top: 0px;
}

.hamburger_icon{
  //background-color: rgb(38, 70, 63);
  padding: 5px;
  width: 100%;
  font-size: 150%;
  display: flex;
  color: var(--myblue);
  //justify-content: space-between;
}


@media(max-width: 700px) {
  .mainpage{
    margin-top: 30vh;
  }

  .navright{
    font-size: 100%;
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
  }

  .menu{
    width: fit-content;
  }
  .tag{
    display: none;
  }


}

  
  @media only screen and (max-width: 320px){
     body {
       font-size:20%
    }
  } 
  
  /*extra small devices*/
  @media only screen and (max-width: 600px){
     body {
       font-size:40%
    }
  } 
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
     body {
       font-size:60%
    }
  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    body {
       font-size:80%
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    body {
       font-size:100%
    }
  } 
  
  /* Extra large devices (large laptops and desktops, 1200px and up) */
  @media only screen and (min-width: 1200px) {
     body {
       font-size:120%
    }

    
  }
  