
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$hackathon-primary: mat-palette($mat-indigo);
$hackathon-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$hackathon-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$hackathon-theme: mat-light-theme($hackathon-primary, $hackathon-accent, $hackathon-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($hackathon-theme);

/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.min.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    //--mygreen: rgb(206, 250, 5);
    --mygreen: rgb(176,219,211);
    --myblue: rgb(1,10,9);
    --mygrey: rgb(226, 226, 226);
    --mylightblue: rgb(152,206,193);
    
}

.example-container{
    background-image: url("assets/myImages/background.jpeg");
    background-repeat: repeat;
}

.pagecontent{
    background-color: rgba(255, 255, 255, 0.726);

}

.desktop{
    background-image: url("assets/myImages/background.jpeg");
}

  